<div class="container text-center p-5">
  <div class="spinner-grow text-danger" role="status" *ngIf="estaCarregando">
    <span class="visually-hidden">Loading...</span>
  </div>

  <div *ngIf="erroNoCarregamento">
    <h2>Ocorreu um erro! :(</h2>
    <button
      (click)="carregarContatos()"
      ype="button"
      class="btn btn-secondary btn-lg"
    >
      Tentar novamente
    </button>
  </div>
  <div *ngIf="!estaCarregando && !erroNoCarregamento">
    <table class="table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Ações</th>
        </tr>
        <tr *ngFor="let contato of contatos">
          <td>{{ contato.nome }}</td>
          <td>
            <button
              class="btn btn-primary btn-sm"
              (click)="verDetalhes(contato.id)"
            >
              Ver Detalhes
            </button>
          </td>
        </tr>
      </thead>
    </table>
  </div>
</div>
